@import "../fonts/font.scss";

$light-gray: #f6f7f8;
$gray: #c1c8ce;
$black: #22262a;
$white: #ffffff;
$accent: #ff4995;
$blue: #33a0ff;

body {
  font-family: "proxima_nova", Georgia, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: $black;
  letter-spacing: 0.35px;
}

a {
  color: $blue;
}

.text {
  &-primary {
    color: $accent !important;
  }
  &-muted {
    color: $gray !important;
  }
  &-blue {
    color: $blue !important;
  }
}

.ls-1 {
  letter-spacing: 0.4px;
}

.fz-16 {
  font-size: 16px;
  font-weight: 300;
}

.fw-600 {
  font-weight: 600;
}

// ===== NAVIGATION STYLE =====
#nav {
  margin-top: 4rem;
  margin-bottom: 3.5rem;
  transition: top 300ms ease-in-out;
  .sm-hr {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
    }
  }
  .navigation {
    margin: 0 auto;
    max-width: 60%;
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: center;
    grid-column-gap: 3rem;
    text-align: center;

    & > div {
      &:hover {
        cursor: pointer;
        color: $blue;
      }
    }

    @media screen and (max-width: 768px) {
      display: block;
      max-width: 100%;
      padding-bottom: 1rem;
      text-align: start;

      div {
        margin-bottom: 1rem;
      }
    }
  }
  .sm-header-container {
    padding-top: 1rem;
    display: none;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: start;

    grid-template-areas:
      "rightMenu"
      "leftMenu";

    @media screen and (max-width: 768px) {
      display: block;
      .right-menu {
        grid-area: rightMenu;

        &-item {
          margin-bottom: 1rem;
        }
        .menu-text {
          vertical-align: middle;
        }
      }

      .left-menu {
        grid-area: leftMenu;
      }
    }
  }

  @media screen and (max-width: 768px) {
    height: auto;
    width: 100%;
    margin: 0;
    position: absolute;
    top: -80vh;
    background-color: $light-gray;
    z-index: 150;

    overflow: hidden;
    .logo {
      display: none;
    }
    .navigation {
      display: block;
      max-width: 100%;

      padding-bottom: 1rem;
      text-align: start;

      div {
        margin-bottom: 1rem;
      }
    }
  }
}

// ===== HEADER =====
.header {
  background: $white;
  z-index: 900;
  padding: 16px;
  border-bottom: solid 3px #fafafb;
  position: relative;

  .sm-screen {
    display: none;

    @media screen and (max-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .sm-logo {
        width: 80px;
      }

      .menu-icon {
        font-size: 1.2rem;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;

    grid-template-areas: "leftMenu rightMenu";

    .right-menu {
      grid-area: rightMenu;
      justify-self: end;
      .menu-text {
        vertical-align: middle;
      }
    }

    .left-menu {
      grid-area: leftMenu;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

// ===== BREADCRUMBS =====
.breadcrumbs {
  background-color: rgba($color: $light-gray, $alpha: 0.5);
  padding: 16px;
  margin-bottom: 4rem;

  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (max-width: 768px) {
      justify-content: flex-start;
    }
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 1.5rem;
  }
}

// ===== MAIN =====
.main {
  display: grid;
  grid-template-columns: 270px 2fr;
  grid-gap: 1.5rem;
  margin-bottom: 80px;

  @media screen and (max-width: 992px) {
    grid-template-columns: 200px 2fr;
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    margin-bottom: 100px;
  }

  .sidebar-overlay {
    width: 0;
    opacity: 0;
    transition: opacity 200ms ease-out 200ms;
    position: fixed;
    z-index: -2;

    @media screen and (max-width: 768px) {
      width: 0;
      height: 100vh;
      background-color: $black;
      z-index: 920;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }

  // ===== SIDEBAR =====
  .sidebar {
    display: block;
    transition: left 300ms ease-out;

    .sidecard {
      background-color: $light-gray;
      border-radius: 4px;
      margin-bottom: 1.5rem;
      padding: 1.25rem;

      &-title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 2rem;
      }

      ul {
        list-style: none;
        padding: 0;
        li {
          font-weight: 600;
          display: flex;
          justify-content: space-between;
          margin-bottom: 1.5rem;

          .count {
            color: rgba($color: $black, $alpha: 0.35);
          }
          &:hover {
            cursor: pointer;
            color: $blue;
            .count {
              color: $blue;
            }
          }
          &.active {
            color: $blue;
            .count {
              color: $blue;
            }
          }
        }
      }

      .color-list {
        .colors-item {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          position: relative;

          &:hover {
            cursor: pointer;
          }

          &.blue {
            background: #006cff;
            &.outer-circle {
              border: 2px solid $light-gray;
              box-shadow: 0 0 0 2px rgba($color: #006cff, $alpha: 0.5);
            }
          }
          &.red {
            background: #fc3e39;
            &.outer-circle {
              border: 2px solid $light-gray;
              box-shadow: 0 0 0 2px rgba($color: #fc3e39, $alpha: 0.5);
            }
          }
          &.black {
            background: #171717;
            &.outer-circle {
              border: 2px solid $light-gray;
              box-shadow: 0 0 0 2px rgba($color: #171717, $alpha: 0.5);
            }
          }
          &.yellow {
            background: #fff600;
            &.outer-circle {
              border: 2px solid $light-gray;
              box-shadow: 0 0 0 2px rgba($color: #fff600, $alpha: 0.5);
            }
          }
          &.pink {
            background: #ff00b4;
            &.outer-circle {
              border: 2px solid $light-gray;
              box-shadow: 0 0 0 2px rgba($color: #ff00b4, $alpha: 0.5);
            }
          }
          &.cream {
            background: #efdfdf;
            &.outer-circle {
              border: 2px solid $light-gray;
              box-shadow: 0 0 0 2px rgba($color: #efdfdf, $alpha: 0.5);
            }
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      background-color: $light-gray;
      position: fixed;
      z-index: 999;
      width: 80vw;
      top: 0px;
      left: -80vw;
      height: 100vh;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }

  // ===== CONTENT =====
  .content {
    .hero {
      position: relative;
      padding: 57px 55px;
      min-height: 250px;
      height: 50vw;
      max-height: 340px;
      overflow: hidden;
      margin-bottom: 1.5rem;
      background-image: linear-gradient(to right, #ff4895, #ffc080);
      border-radius: 4px;
      display: flex;
      align-items: center;
      @media screen and (max-width: 766px) {
        padding: 2rem;
        align-items: start;
      }

      .hero-text {
        max-width: 280px;
        position: relative;
        z-index: 50;
        
        @media screen and (max-width: 768px) {
          max-width: 100%;
          .display-4{
            font-size: 10vw;
          }
        }
        .hero-subtext {
          margin-bottom: 2.5rem;
        }

      }

      .hero-button {
        color: white;
        border-bottom: 2px solid #ffffff;
        width: 80px;
        font-weight: 600;
        &:hover {
          cursor: pointer;
          color: rgba($color: #ffffff, $alpha: 0.7);
        }
      }
      .hero-img {
        z-index: 25;
        img {
          position: absolute;
          top: -20%;
          right: 15px;
          width: 50%;

          @media screen and (max-width: 992px) {
            top: 30%;
          }
          @media screen and (max-width: 760px) {
            top: 60%;
          }
          
        }
      }
    }

    .sort-bar {
      background-color: $light-gray;
      height: 58px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 20px;
      margin-bottom: 1.5rem;
      border-radius: 4px;
      transition: all 500ms ease-out;

      @media screen and (max-width: 992px) {
        padding: 1.2rem;
        flex-direction: column;
        height: auto;
      }

      @media screen and (max-width: 768px) {
        position: fixed;
        z-index: 150;
        width: 100%;
        left: 0;
        top: 100vh;
        bottom: auto;
        margin: 0;
        display: block;
      }

      .bar-dropdown {
        select {
          font-size: 14px;
          appearance: none;
          background: url("../imgs/arrow_down.svg") 90% / 8% no-repeat #eee;
          min-width: 116px;
          background-color: $light-gray;
        }
      }
      .left-bar {
        display: flex;
        align-items: center;
        .sort-input {
          display: flex;
          align-items: center;
          margin-right: 1rem;
        }
        @media screen and (max-width: 768px) {
          display: block;

          & > div {
            margin-bottom: 1rem;
          }

          .sort-input {
            display: flex;
            justify-content: space-between;
          }

          // display: none;
        }
      }
      .right-bar {
        height: 100%;
        display: flex;
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;

          height: 100%;
          &.active {
            background-color: #f1f3f4;
          }
        }

        @media screen and (max-width: 992px) {
          margin-top: 1.2rem;
          width: 100%;
          div {
            padding: 0.5rem;
            width: 100%;

            height: 50px;
            &.active {
              background-color: #f1f3f4;
            }
          }
        }
      }
    }
    .pagination {
      background-color: $light-gray;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 56px;
      .page-number {
        font-weight: 600;
        height: 100%;
        width: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $black;
        transition: background 300ms ease-out;
        &:hover {
          cursor: pointer;
          background-color: $gray;
        }
        &.active {
          background-color: $black;
          color: $light-gray;
        }
      }
    }
  }

  // ===== PRODUCTS =====
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1.5rem;

    .ratings {
      font-size: 10px;
      color: $gray;

      .rated {
        color: #ffc600;
      }
    }
  }
}

// ===== MOBILE NAV =====
.mobile-nav {
  display: none;
  @media screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 88px;
    width: 100%;
    padding: 0 15px;
    background-color: $light-gray;
    position: fixed;
    bottom: 0;
    z-index: 900;

    div {
      border: 1px solid $gray;
      padding: 1rem 2rem;
      text-align: center;
      border-radius: 4px;
      font-weight: 600;
    }
  }
}
